// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$gray: #b9c2c4;
$dark-gray: #333;
$muted-gray: #999;
$light-gray: #ddd;
$subtle-gray: #f4f5f6;
$off-black: #21110b;
$blue: #2693d6;
$purple: #92407e;
$teal: #00adc4;
$green: #91c575;
$orange: #f38d36;
$magenta: #c1335d;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Navigation
$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$action-color: #477DCA !default;
$large-screen: em(860) !default;
$navigation-padding: 1em;
$navigation-background: #fff;
$navigation-color: transparentize($off-black, 0.3);
$navigation-color-hover: $off-black;
$navigation-height: 60px;
$navigation-nav-button-background: $action-color;
$navigation-nav-button-background-hover: lighten($navigation-background, 10%);
$navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
$navigation-search-background: lighten($navigation-background, 5);
$navigation-search-border: 1px solid darken($navigation-background, 5);
$navigation-active-link-color: transparentize($off-black, 0.5);
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 8em;
$horizontal-bar-mode: $large-screen;
