<header class="in-app-navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to "HOUND", dashboard_path, class: "logo" %>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><%= icon('bars') %></a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to "PLANS", plans_path %></li>
        <li class="nav-link"><a href="javascript:void(0)">CLIENTS</a></li>
        <li class="nav-link"><a href="javascript:void(0)">SCHEDULE</a></li>
        <li class="nav-link hover-menu">
          <a href="javascript:void(0)">SETTINGS</a>
          <ul class="submenu">
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </nav>
</header>
