<section class="hero">
  <div class="left-half">
    <h1>
      <span class="">HOUND</span>
      <span class="gray"> HELPS</span>
      <br>
      <span class="teal">DOG WALKERS</span>
      <br>
      <span class="magenta">SCHEDULE CLIENTS</span>
      <br>
      <span class="gray">AND</span><span class="green"> GET PAID</span>
      <br>
      <span class="">THE EASY WAY</span>
    </h1>
  </div>
  <div class="right-half">
    <div class="spence">
    </div>
  </div>
</section>
