<h1>
  HOUND
  <span class="gray"> HELPS</span>
  <br>
  <span class="teal">DOG WALKERS</span>
  <br>
  <span class="magenta">SCHEDULE CLIENTS</span>
  <br>
  <span class="green"> AND GET PAID</span>
  <br>
  <span class="orange">THE EASY WAY</span>
</h1>

