<div class="onboarding">
  <div class="left_pane">
    <h1>Welcome!</h1>
    <h4>You're about to set up your company on Hound.</h4>
    <%= render 'form' %>
  </div>

  <div class="right_pane">
  </div>
</div>
