
.green {
  color: $green
}

.orange {
  color: $orange
}

.teal {
  color: $teal
}

.purple {
  color: $purple
}

.gray {
  color: $gray
}


.magenta {
  color: $magenta
}


.full-width {
  width: 100%;
}
