$light-gray: #f4f5f6;
$gray: #b9c2c4;
$off-black: #21110b;
$purple: #92407e;
$teal: #00adc4;
$green: #91c575;
$orange: #f38d36;
$magenta: #c1335d;


.green {
  color: $green
}

.orange {
  color: $orange
}

.teal {
  color: $teal
}

.purple {
  color: $purple
}

.gray {
  color: $gray
}


.magenta {
  color: $magenta
}
