
.green {
  color: $green;
}

.orange {
  color: $orange
}

.teal {
  color: $teal;
}

.teal-background {
  background: $teal;
  color: #fff;
}

.purple {
  color: $purple
}

.gray {
  color: $gray
}


.magenta {
  color: $magenta
}

.blue {
  color: $blue
}


.full-width {
  width: 100%;
}

div.left-half {
  @include span-columns(6);
  @include media($mobile) {
    @include span-columns(6);
  }
}
div.right-half {
  @include span-columns(6);
  @include media($mobile) {
    @include span-columns(6);
  }
}
